.background{
  filter: brightness(40%);
}
.bgcolor{
  background-color: #F4FAFD;
}
.footcolor{
  background-color:  #161616;
}
.fontsize{
  font-size: 5vw;
}
.bg-primary-color{
  background-color: #289BDE;
}